<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finca los Castillo - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	{% block styles %}{% endblock %}
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
			<a class="navbar-brand" href="/">Finca Los Castillos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav gap-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Productos</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="/contact">Contáctanos</a>
                    </li>
					{% if user%}
						{% if user["role"] == 'admin' or user["role"] == 'seller' %}
							<li class="nav-item">
								<a class="nav-link" href="/upload">Subir un Producto</a>
							</li>
						{%  endif %}
					{% endif %}
				</ul>
				 <ul class="navbar-nav d-flex flex-row gap-3 ms-auto">
					{% if user %}
						<li class="nav-item">
                            <a type="button" class="btn btn-primary bg-dark" href="/profile">{{user.username}}</a>
                        </li>
						<li class="nav-item">
                            <a type="button" class="btn btn-primary bg-dark" href="/logout">Cerrar Sesión</a>
                        </li>
					{% endif %}
					{% if not user %}
                        <li class="nav-item">
                            <a type="button" class="btn btn-primary" href="/login">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a type="button" class="btn btn-primary" href="/signin">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
	<footer class="bg-dark text-white text-center p-3">
        <p>&copy; 2025 Finca Los Castillos | Todos los derechos reservados</p>
    </footer>
    <!-- Scripts de Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<script>
		// Obtiene la ruta de la URL
		var currentPath = window.location.pathname;

		// Obtiene todos los enlaces con la clase "nav-link"
		var navLinks = document.querySelectorAll('.nav-link');

		// Recorre cada enlace y agrega o quita la clase 'active'
		navLinks.forEach(function(link) {
			// Si la ruta del enlace coincide con la URL actual
			if (link.getAttribute('href') === currentPath) {
				link.classList.add('active'); // Agregar la clase active
			} else {
				link.classList.remove('active'); // Eliminar la clase active
			}
		});
	</script>
	<script>
		  {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<div class="container mt-3">
				{% for category, message in messages %}
					<div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show" role="alert">
					<strong>{{ message }}</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
				</div>
			{% endif %}
			{% endwith %}
	</script>
</body>
</html>
