{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
	<div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Iniciar sesión</h4>
                        <form method="POST" id = "loginForm">
                            <div class="form-group">
                                <label for="email">Correo electrónico</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" required>
                            </div>
							<p></p>
							<div class="d-grid gap-2">
								<button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
							</div>
                        </form>
                    </div>
					<div class="d-grid gap-2">
					  <a type="button" class="btn btn-primary" href="/login/oauth">
						<img src="/static/images/web/google-login-color.png" alt="Google logo" style="width: 20px; margin-right: 10px;">
						Iniciar Sesión con Google
					  </a>
					</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}