{% extends "base.html" %}
{% block title %}Perfiles{% endblock %}
{% block styles %}<link rel="stylesheet" href="/static/styles/cards_profile.css">{% endblock %} <!--Estilo para las "cajitas" de cada usuario-->

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">
        <i class="fas fa-box"></i> Usuarios encontrados
    </h2>
    
    <div class="row">
        {% if users %}
            {% for usuario in users %}
                <!-- Para cada usuario, creamos una tarjeta -->
                <div class="col-md-4">
                    <!-- Formulario para enviar el POST -->
                    <form action="{{ url_for('profile', user_id=usuario.id) }}" method="POST">
                        <!-- Campo oculto con la ID del usuario -->
                        <input type="hidden" name="usuario_id" value="{{ usuario.id }}">

                        <div class="card">
                            {% if usuario.picture %}
                                <img src="{{ url_for('static', filename='images' + usuario.picture) }}" class="card-img-top" alt="{{ usuario.username }}">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/web/leche.png') }}" class="card-img-top" alt="{{ usuario.username }}">
                            {% endif %}
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ usuario.username }}</h5>
                                <p class="card-text fw-bold">{{ usuario.email }}</p>
                                <button type="submit" class="btn btn-success">
                                    Visitar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">No hay usuarios con la descripción proporcionada.</p>
        {% endif %}
    </div>
</div>
{% endblock %}