{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
	<div class="container mt-5">
	  <div class="row justify-content-center">
		<div class="col-md-6">
		  <div class="card">
			<div class="card-header text-center">
			  <h3>Registro de Usuario</h3>
			</div>
			<div class="card-body">
			  <form method="POST" id="registrationForm">
				<!-- Nombre de Usuario -->
				<div class="mb-3">
				  <label for="username" class="form-label">Nombre de Usuario</label>
				  <input type="text" class="form-control" id="username" name="username" placeholder="Introduce tu nombre de usuario" required>
				</div>

				<!-- Correo Electrónico -->
				<div class="mb-3">
				  <label for="email" class="form-label">Correo Electrónico</label>
				  <input type="email" class="form-control" id="email" name="email" placeholder="Introduce tu correo electrónico" required>
				</div>

				<!-- Contraseña -->
				<div class="mb-3">
				  <label for="password" class="form-label">Contraseña</label>
				  <input type="password" class="form-control" id="password" name="password" placeholder="Introduce tu contraseña" required>
				  <small id="passwordHelp" class="form-text text-muted">La contraseña debe contener al menos 8 caracteres, incluyendo un carácter alfanumérico y uno especial.</small>
				</div>

				<!-- Repetir Contraseña -->
				<div class="mb-3">
				  <label for="confirmPassword" class="form-label">Repetir Contraseña</label>
				  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Repite tu contraseña" required>
				</div>

				<div class="d-grid gap-2">
				  <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Registrar</button>
				</div>
				<p>
				<div class="d-grid gap-2">
				  <a type="button" class="btn btn-primary" href="/login/oauth">
					<img src="/static/images/web/google-login-color.png" alt="Google logo" style="width: 20px; margin-right: 10px;">
					Iniciar Sesión con Google
				  </a>
				</div>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
<script>
  // Función para validar la contraseña
  function validatePassword() {
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;
    const submitBtn = document.getElementById('submitBtn');
    const passwordRegex = /[a-zA-Z0-9]/;  // Al menos un carácter alfanumérico
    const specialCharRegex = /[!@#$%^&*(),.?":{}|<>]/;  // Al menos un carácter especial

    // Verificar si la contraseña cumple con los requisitos
    const isValidPassword = passwordRegex.test(password) && specialCharRegex.test(password) && password.length >= 8;
    const isPasswordsMatch = password === confirmPassword;

    // Habilitar o deshabilitar el botón de registro según la validación
    if (isValidPassword && isPasswordsMatch) {
      submitBtn.disabled = false;
    } else {
      submitBtn.disabled = true;
    }
  }
 </script>

{% endblock %}