{% extends "base.html" %}
{% block title %}Memorias de almacenamiento{% endblock %}

{% block body %}
	<h1>Memorias de Almacenamiento</h1>
	<h3>HDD</h3>
	<br>
		HDD son las siglas de Hard Disk Drive, que en español significa unidad de disco duro. Es un dispositivo de almacenamiento que guarda datos de forma permanente en discos magnéticos que giran. 
	</br>
	<figure>
	  <img src="/static/img/hard_drive.png" alt="Unidad de Disco Duro (HDD)">
	  <figcaption>Un disco duro externo utilizado para almacenar datos.</figcaption>
	</figure>
	<h3>SSD</h3>
	<br>
		SSD son las siglas de Unidad de Estado Sólido (Solid State Drive), un dispositivo de almacenamiento de datos que usa memoria flash. Son más rápidas y compactas que las unidades de disco duro (HDD). 
	</br>
	<figure>
	  <img src="/static/img/SATA2.5.jpg" alt="Unidad de Estado (SSD. SATA de 2.5 pulgadas)">
	  <figcaption>La forma más común de SSD (SATA de 2,5 pulgadas) después del SSD M.2 2280.</figcaption>
	</figure>
	<figure>
	  <img src="/static/img/SSD2280.jpg" alt="Unidad de Estado Sólido (SDD)">
	  <figcaption>La longitud de SSD M.2 más común es 2280. Esta imagen es un ejemplo de SSD 2280.</figcaption>
	</figure>
	<h3>USB</h3>
	<br>
		En informática, los términos USB (siglas de Universal Serial Bus, es decir, Bus Universal en Serie) o BUS se refieren a un estándar de conexión y transmisión eléctrica y de datos, entre computadores, dispositivos periféricos y otros aparatos electrónicos.
	</br>
	<figure>
	  <img src="/static/img/USB.jpg" alt="Bus Universal de Serie (USB)">
	  <figcaption>Colección de unidades USB.</figcaption>
	</figure>
{% endblock %}